<!DOCTYPE html>
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(http-equiv='X-UA-Compatible', content='ie=edge')
		title nextgtrgod&#39;s portfolio

		style.
			body {
				height: 300vh;
				padding: 0;
				margin: 0;
				background-color: #F2F2F2;
			}
			svg {
				display: none;
			}
			.page {
				opacity: 0;
			}

		link(rel='stylesheet', href='main.css')

	body
		.page
			include ./assets/triangles

			.bulbs
				include ./assets/bulb-1
				include ./assets/bulb-2
				include ./assets/bulb-3
				include ./assets/bulb-4
				include ./assets/bulb-5

			.content
				include ./sections/about.pug
				include ./sections/skills
				include ./sections/projects

			button(id='scroll-to') learn more about

		span(id='scroll-anchor')


		script(src='main.js' defer)