<!DOCTYPE html>
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(http-equiv='X-UA-Compatible', content='ie=edge')
		title nextgtrgod&#39;s portfolio

		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source+Code+Pro')
		link(rel='stylesheet', href='styles.css')

	body

		.bulbs
			#bulb-1(data-speed='15', data-direction='1')
			#bulb-2(data-speed='20', data-direction='-1')
			#bulb-3(data-speed='30', data-direction='1')
			#bulb-4(data-speed='10', data-direction='-1')
			#bulb-5(data-speed='5', data-direction='1')

		#main-content

			include ./sections/skills.pug
			
			//- include ./sections/about.pug

			//- include ./sections/projects.pug
			


		script(src='bundle.js' defer)