<!DOCTYPE html>
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(http-equiv='X-UA-Compatible', content='ie=edge')
		title nextgtrgod&#39;s portfolio

		link(rel='stylesheet', href='mobile.css')

	body
		#triangles

		.bulbs
			include ./assets/bulb-3

		.content
			include ./sections/about.pug
			include ./sections/skills
			include ./sections/projects


		script(src='mobile.js' defer)