
#about
	width 100%
	left 65%

	.contacts
		position absolute
		top 0
		right 0
		display flex
		z-index 99
		li
			width 3em
			height 3em
			margin .5em
			transform scale(.95)
			will-change transform
			transition transform .2s
			a
				display block
				height 100%
				background-size cover
				background-position center
				background-repeat no-repeat
				&[href*='gmail']
					background-image url('./images/contacts/gmail.svg')

				&[href*='github']
					background-image url('./images/contacts/github.svg')
			
			&:hover
				transform scale(1.1)


	h1
		top 22%
		left -15%
		padding .1em
		background-color: $color-primary

	h2
		top 62%
		left -10%
		color #FFF
		padding .1em
		background-color: $color-dark
		mix-blend-mode darken
	
	.movable
		will-change transform

	.polygon
		position absolute
		pointer-events none
		&:nth-of-type(1)
			top 2%
			left 25%
			width 15%
			height 55%
			background-color: $color-accent
		
		&:nth-of-type(2)
			top 12%
			left 50%
			width 5%
			height 75%
			background-color: #fe1235

		&:nth-of-type(3)
			top 22%
			left 45%
			width 4vw
			height 4vw
			background-color #111
			border-radius 50%
			mix-blend-mode saturation