
#projects
	h2
		top 10%
		left 0

	ul
		position absolute
		top 0
		left 0
		bottom 0
		margin auto
		width 95%
		height 50%
		display flex
		flex-wrap wrap
		li
			position relative
			flex 0 1 auto
			display flex
			align-items center
			justify-content center
			flex-basis calc(25% - 1em)
			margin .5em
			height 45%
			background-position center
			background-size auto 105%
			background-repeat no-repeat
			box-shadow: 0 2px 5px $color-dark
			transition: box-shadow .2s
			opacity 0
			transform translate3d(100%, 0, 0)
			will-change transform
			overflow hidden
			&:before
				content ''
				absolute()
				background-color #FC7420
				color #FFF
				opacity 0
				transition all .2s
				pointer-events none
			&:after
				content 'VIEW'
				font-size 1.5em
				font-weight bold
				letter-spacing 1px
				color #FFF
				text-align center
				opacity 0
				transform translate3d(0, 100%, 0)
				transition all .4s
				pointer-events none

			&:hover
				&:before
					opacity .99
					box-shadow 3px 0px 10px #111
				&:after
					opacity 1
					transform translate3d(0, 0, 0)

			for i in (1..10)
				&:nth-of-type({i})
					animation-delay (.1 * i)s

			a
				display block
				absolute()
			