
section
	absolute()
	height 100vh
	opacity 0
	pointer-events none
	h2
		display inline-block
		position absolute
		top 8.5%
		left 1%
		margin 0
		padding 5px 10px
		font-size 4em
		line-height 1
		background-color #9cfdff
		box-shadow 2px 3px 0px #111
		border 2px solid #111
		z-index 99