
section
	absolute()
	height 100vh
	opacity 0
	pointer-events none
	h2
		display inline-block
		position absolute
		margin 0
		font-size 4em
		line-height 1
		text-shadow: -2px 1px 0 $color-dark
		// padding 5px 10px
		// background-color #9cfdff
		// box-shadow 2px 3px 0px #111
		// border 2px solid #111
		// user-select none
		z-index 99