
section
	absolute()
	height 100vh
	opacity 0
	pointer-events none
	will-change opacity
	h1
	h2
		position absolute
		display inline-block
		margin 0
		text-shadow: -1px 1px 0 $color-dark
		line-height 1

	h1
		font-size 4.2em

	h2
		font-size 4em
		z-index 99