
#skills
	position relative
	width 100%
	ul
		position absolute
		top 0
		left 0
		bottom 0
		margin auto
		display grid
		width 100%
		height 50%
		grid-auto-rows 30px
		// grid-auro-columns 30px
		grid-template-columns repeat(15, 40px)
		grid-auto-flow dense
		grid-gap 10px
		// justify-content space-evenly
		justify-content center
		align-items space-around
		li
			position relative
			color transparent
			font-size 40px
			// font-family 'Source Code Pro', monospace
			font-weight 600
			text-align center
			// border: 3px solid $color-dark
			box-shadow: 0 0 0 2px $color-dark
			transform-style preserve-3d
			will-change transform
			cursor url(./assets/cursor-drag.png), auto
			&.skill
				&-html
					background-color #f16529
					font-size 55px
				&-css
					background-color #33a9dc
					text-align right
					letter-spacing 5px
					.inner
						color #f0db4f
				&-stylus
					font-size 24px
					background-color #323330
				&-js
					background-color #f0db4f
					.inner
						top unset
						left unset
						right 10px
						bottom 0
						color #323330
						font-size 95px
						font-weight bold
						line-height 95px
						height 95px

				&-react
					background-color #005e77
					font-size 25px
				&-vue
					background-color #41b883
					font-size 24px
				&-node
					background-color #8e2a8e
					font-size 16px

			&.size
				&--1
					grid-row auto / auto
					grid-column auto / auto
				
				&--2
					grid-column auto / span 2
					grid-row auto / span 2
				
				&--3
					grid-column auto / span 3
					grid-row auto / span 3
				
				&--4
					grid-column auto / span 4
					grid-row auto / span 4
				
				&--5
					grid-column auto / span 5
					grid-row auto / span 5
				
				&--6
					grid-column auto / span 6
					grid-row auto / span 6
			
			.inner
				position absolute
				top 0
				left 0
				right 0
				bottom 0
				height 35px
				line-height 35px
				padding 10px
				margin auto
				letter-spacing 1px
				color #FEFEFE
				transform translateZ(30px)
				user-select none
				z-index 2
			
			.js-tilt-glare
				z-index 1