
#skills
	position relative
	width 100%
	h2
		top 12%
		right 10%

	ul
		position absolute
		top 0
		left 1em
		bottom 0
		margin auto
		display grid
		width 95%
		height 50%
		grid-auto-rows 8%
		grid-template-columns repeat(15, 5%)
		grid-auto-flow dense
		grid-gap 1em
		justify-content center
		align-items space-around
		li
			position relative
			color transparent
			font-size 2.5em
			font-weight 600
			text-align center
			box-shadow: 0 0 0 2px $color-dark
			transform-style preserve-3d
			will-change transform
			cursor url(./assets/cursor-drag.png), auto

			// size values
			&[data-size='1']
				grid-row auto / auto
				grid-column auto / auto
	
			for i in 2..6
				&[data-size=\'{i}\']
					grid-column: auto / span i 
					grid-row: auto / span i
					font-size: (i * .5)em

			// skill names
			&[data-skill='html']
				font-size 3.4em
	
			&[data-skill='css']
				text-align right
				letter-spacing 5px

			&[data-skill='js']
				.inner
					top unset
					left unset
					right 0
					bottom 0
					color #323330
					font-size 2.8em
					font-weight bold
					line-height 3.1em
					height 2em


			.inner
				position absolute
				top 0
				left 0
				right 0
				bottom 0
				height 35px
				line-height 35px
				padding 10px
				margin auto
				letter-spacing 1px
				color #FEFEFE
				transform translateZ(30px)
				user-select none
				z-index 2
			
			.js-tilt-glare
				z-index 1