
@keyframes fade-in
	0%
		opacity 0
	100%
		opacity 1

@keyframes move-down
	0%
		transform translate3d(0, -100%, 0)
	100%
		transform translate3d(0, 0, 0)

@keyframes move-top
	0%
		transform translate3d(0, 0, 0)
	100%
		transform translate3d(0, -100%, 0)


@keyframes move-right
	0%
		transform translate3d(-150%, 0, 0)
	100%
		transform translate3d(0, 0, 0)

@keyframes move-left
	0%
		transform translate3d(100%, 0, 0)
	100%
		transform translate3d(0, 0, 0)


// scroll animations
body
	&[data-section='about']
		#about
			opacity 1
			pointer-events all
			
		#bulb-3
			opacity 1


	&[data-section='skills']
		#skills
			opacity 1
			transition opacity .2s
			pointer-events all
			h2
				animation-name move-down, fade-in
				animation-duration .4s
				animation-fill-mode forwards

			ul
				li
					animation move-down .4s
			
		#bulb
			&-1
			&-2
			&-4
			&-5
				animation-name fade-in, move-down
				animation-duration .4s
				animation-fill-mode forwards
			&-3
				opacity 1
				right 20%
		
		#triangles
			opacity 1
			path
				animation-name fade-in, move-right
				animation-duration .4s
				animation-fill-mode forwards
	

	&[data-section='projects']
		.content
			right 0

		#projects
			opacity 1
			transition opacity .2s
			pointer-events all
			h2
				animation-name move-left, fade-in
				animation-duration .4s
				animation-fill-mode forwards

			ul
				li
					animation-name move-left, fade-in
					animation-duration .4s
					animation-fill-mode forwards
		
		.bulbs
			transition all .4s
			transform translate3d(-65%, 0, 0)

		#bulb
			&-1
			&-2
			&-4
			&-5
				animation-name fade-in, move-down
				animation-duration .4s
				animation-fill-mode forwards
			&-3
				opacity 1
				right 20%
		
		#triangles
			opacity 1
			transform translate3d(-100%, 0, 0)
			path
				animation-name fade-in, move-right
				animation-duration .4s
				animation-fill-mode forwards