@import animation


.bulbs
	position fixed
	top 0
	right 0
	width 50%
	height 100%
	&>*
		position absolute
		top -5px
		background-position center top
		background-size 100%
		background-repeat no-repeat
		will-change transform
		// transition transform .8s ease-out
		opacity 0
		animation-fill-mode forwards !important

	#bulb
		&-1
			right 100px
			width 200px
			height 80%
			background-image url('/images/bulb-1.svg')
			// transition-delay .4s
			animation fade-in .4s .4s
		&-2
			right 60px
			width 130px
			height 100%
			background-image url('/images/bulb-2.svg')
			// transition-delay .1s
			animation fade-in .4s .1s
		&-3
			right 270px
			width 280px
			height 100%
			background-image url('/images/bulb-3.svg')
			animation fade-in .4s
		&-4
			right 560px
			width 155px
			height 100%
			background-image url('/images/bulb-4.svg')
			filter blur(2px)
			// transition-delay .5s
			animation fade-in .4s .5s
		&-5
			right 445px
			width 85px
			height 100%
			background-image url('/images/bulb-5.svg')
			filter blur(4px)
			// transition-delay .6s
			animation fade-in .4s .6s