

.bulbs
	position fixed
	top 0
	right 0
	width 100%
	height 100%
	transition all .4s
	&>*
		position absolute
		top -1%
		opacity 0
		transition opacity .4s, right .4s
		will-change transform, opacity
		fill: $color-dark
	#trigger-invert
		cursor url(./assets/cursor-pointer.png), auto

	#bulb
		&-1
			right 7%
			height 65%
			animation-delay .3s
		&-2
			right 1%
			height 100%
			animation-delay .2s
		&-3
			right 50%
			height 95%
			#trigger-invert
				fill transparent
			g
				transition all .4s
				path
					transition all .4s

		&-4
			right 36%
			height 60%
			filter blur(2px)
			animation-delay .1s
		&-5
			right 30%
			height 36%
			filter blur(4px)
			animation-delay .4s