@font-face
	font-family: 'agoranormal'
	src: url('/fonts/AgoraSansPro400.eot')
	src: url('/fonts/AgoraSansPro400.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/AgoraSansPro400.woff') format('woff'),
		 url('/fonts/AgoraSansPro400.ttf') format('truetype')
	font-weight: normal
	font-style: normal

@font-face
	font-family: 'agoramedium'
	src: url('/fonts/AgoraSansPro500.eot')
	src: url('/fonts/AgoraSansPro500.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/AgoraSansPro500.woff') format('woff'),
		 url('/fonts/AgoraSansPro500.ttf') format('truetype')
	font-weight: normal
	font-style: normal

@font-face
	font-family: 'agorabold'
	src: url('/fonts/AgoraSansPro700.eot')
	src: url('/fonts/AgoraSansPro700.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/AgoraSansPro700.woff') format('woff'),
		 url('/fonts/AgoraSansPro700.ttf') format('truetype')
	font-weight: normal
	font-style: normal