
body
	&.invert
		background-color: $color-dark
		filter invert(100%)
	
		#skills
			h2
				box-shadow none
			ul
				li
					box-shadow none
		
		#bulb-3
			g
				filter url(#glow)
				path
					fill #0F24B0