#triangles
	position absolute
	top -10%
	left -30%
	bottom -10%
	margin auto
	width 60%
	opacity 0
	will-change transform, opacity
	transition all .4s
	*
		fill none
		stroke: $color-dark 

	path
		opacity 0
		transform translate3d(-100%, 0, 0)
		// will-change transform, opacity
		for i in (1..83)
			&:nth-of-type({i})
				animation-delay (83 / i * .1)s